{% load static %}

<div class="air__layout__footer">
    <div class="air__footer">
        <div class="air__footer__inner">
        <div class="row">
            <div class="col-md-8">
            <p>
                <strong>
                Data Analytic - Telkom University
                </strong>
            </p>
            <p>
                &copy; 2021 Telkom University
            </p>
            </div>
            <div class="col-md-4">
            <div class="air__footer__logo">
                <img style="max-width: 20px;" src="{% static 'images/telu-logo-300.png' %}" alt="tel-u logo" />
                <div class="air__footer__logo__name">TEL-U</div>
                <div class="air__footer__logo__descr">Dashboard</div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>