{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'external/airui/head.html' %}
</head>
<body>
  <div class="air__initialLoading"></div>
  <div class="air__auth">
  <div class="pt-5 pb-5 d-flex align-items-end mt-auto ">
    <div class="air__utils__logo__text text-center">
      <img style="max-width:17px;" src="{% static 'images/telu-logo-300.png' %}" alt="Tel-U logo" />
      <div class="air__utils__logo__name text-uppercase text-dark font-size-21">TEL-U</div>
      <div class="air__utils__logo__descr text-uppercase font-size-12 text-gray-6">
        Dashboard
      </div>
    </div>
  </div>
  <div class="air__auth__container pl-5 pr-5 pt-5 pb-5 bg-white text-center">
    <div class="text-dark font-size-30 mb-4">Log In</div>
    <form method="POST" class="mb-4">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group mb-4">
        {{ form.username.errors }}
        <input type="text" name="username" class="form-control" placeholder="Username" />
      </div>
      <div class="form-group mb-4">
        {{ form.password.errors }}
        <input type="password" name="password" class="form-control" placeholder="Password" />
      </div>
      <button type="submit" class="text-center btn btn-success w-100 font-weight-bold font-size-18">
        Log In
      </button>
    </form>
    {% comment %} <div class="text-center mt-4">
      OR
    </div> {% endcomment %}
    {% comment %} <div class="s12 m6 offset-m3 center-align my-3">
        <a class="oauth-container btn darken-4  black-text" href="https://accounts.google.com/o/oauth2/auth/oauthchooseaccount?client_id=1039690428294-9g8c3c31ba0qrgmto6cntfn8b9flgq0g.apps.googleusercontent.com&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=email%20profile&response_type=code&state=vLiNvwlWRpMN&access_type=online&flowName=GeneralOAuthFlow" style="text-transform:none">
            <div class="left">
                <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Login with google
            </div>
        </a>
    </div> {% endcomment %}
    {% comment %} <a href="#" class="text-blue font-weight-bold font-size-18">Forgot password?</a> {% endcomment %}
  </div>
  <div class="text-center font-size-18 pt-4 mb-auto">
    {% comment %} Don't have an account? {% endcomment %}
    {% comment %} <a href="{% url 'auth:register' %}" class="font-weight-bold text-blue text-underlined"><u>Sign Up</u></a> {% endcomment %}
  </div> 
  <div class="mt-auto pb-5 pt-5">
    <ul class="air__auth__footerNav list-unstyled d-flex mb-2 flex-wrap justify-content-center">
    <div class="text-gray-4 text-center">© 2021 Tel-U Dashboard. All rights reserved.</div>
  </div>
</div>
</body>
</html>